{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'landing/css/styles.css' %}">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    {% block content %}{% endblock %}
    
    {% include "landing/partials/footer.html" %}
<script src="{% static 'landing/js/animations.js' %}"></script>
</body>
</html>
