{% load static %}
<header class="header">
    <div class="container">
        <div class="logo">
            <i class="fa-solid fa-chart-line"></i>
            <span><a class="header-logo-link" href="{% url 'landing:index' %}">Gestão Financeira</a></span>
        </div>

        <nav>
            <a href="{% url 'landing:sobre' %}">Sobre</a>
            <a href="{% url 'landing:funcionalidades' %}">Funcionalidades</a>
            <a href="{% url 'accounts:login' %}" class="btn-primary">Entrar</a>
        </nav>
    </div>
</header>